# Dependencias
node_modules/

# Archivos generados o temporales
dist/
build/
coverage/

# Archivos del sistema o del editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Archivos de entorno
.env
.env.local
