.carrusel {
    width: 100vw;
    height: 93vh;
    display: flex;
    margin-top: 8vh;
    overflow-x: hidden;
    position: relative;

    &__left-button,
    &__right-button {
        flex: none;
        width: 3%;
        height: 7%;
        position: absolute;
        align-self: center;
        color: white;
        border: 2px solid white;
        border-radius: 100%;
        display: flex;
        z-index: 4;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease;
        cursor: pointer;

        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(220.55deg, #3793FF 0%, #0017E4 100%);
            inset: 0;
            border-radius: inherit;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: 0.3s ease;
        }

        &:hover {
            scale: 1.1;

            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__left-button {
        left: 2%;
        top: 50%;
    }

    &__right-button {
        right: 2%;
    }

    &:hover .carrusel__right-button,
    &:hover .carrusel__left-button {
        opacity: 1;
        visibility: visible;
    }

    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        scroll-snap-align: start;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        left: 200%;
        z-index: 1;
        transition: left 1s ease;

        &.active{
            left: 0;
            z-index: 3;
        }

        &.last{
            left: 0;
            z-index: 2;
        }

        &.previous {
            left: -200%;
            z-index: 1;
        }

        &__text-container {
            width: 30%;
            height: 30%;
            position: absolute;
            bottom: 30%;
            left: 15%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            gap: 10%;

            &__title {
                font-size: 4.5rem;
                font-family: "Poppins-Regular";
                line-height: 130%;
                font-weight: bolder;
            }

            &__short-description {
                font-size: 1.8rem;
            }

            &__link {
                display: block;
                width: 30%;
                height: 20%;

                &__button {
                    width: 100%;
                    height: 100%;
                    border: 3px solid white;
                    outline: none;
                    background: transparent;
                    color: #ffffff;
                    font-size: 1.5rem;
                    margin-top: 15%;
                    cursor: pointer;
                    transition: 0.3s ease;

                    &:hover {
                        scale: 1.05;
                        background: #00ffff83;
                    }
                }
            }
        }

        &--1 {
            background-image: url("https://www.tallereselpilar.com/cache~c-d-0-1-8-cd0184cc4830d12717982474f665915cf9942b72/tu-taller-mecanico-de-confianza.jpeg");
        }

        &--2 {
            background-image: url("https://motor.elpais.com/wp-content/uploads/2022/02/taller-2.jpg");
        }

        &--3 {
            background-image: url("https://cercademiubicacionactual.com/wp-content/uploads/2024/08/Taller-mecanico-cerca-de-mi.jpg");
        }

        &--4 {
            background-image: url("https://storage.googleapis.com/sigo-blog-production/2023/02/2.-Blog-2_2.jpg");
        }

        &--5 {
            background-image: url("https://www.todomecanica.com/media/k2/items/cache/e803da4b053dc3dafc2016f735cae8b9_L.jpg");
        }
    }
}

.expectations {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    margin-top: 10vh;

    &__title {
        text-align: center;
        font-size: 2rem;
        word-spacing: 10px;
        color: #1565C0;
        font-family: "Poppins-Regular";
    }

    &__description {
        width: 40%;
        text-align: center;
        line-height: 1.6;
        font-size: 1.1rem;
    }

    &__list {
        margin-top: 3%;
        width: 100%;
        height: 80%;
        display: flex;
        gap: 2%;
        justify-content: center;

        &__item {
            width: 18%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5%;

            &__card {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3%;
                transition: 0.3s ease;
                position: relative;
                overflow: hidden;
                z-index: 2;

                &__title {
                    width: 70%;
                    padding: 1%;
                    border-radius: 10px;
                    text-align: center;
                    color: #29B6F6;
                    font-family: "Poppins-Regular";
                    font-size: 2rem;
                    position: absolute;
                    z-index: 3;
                    transition: 0.3s ease;
                }

                &:hover {
                    &::before {
                        filter: brightness(0.8);
                    }

                    & .expectations__list__item__card__title {
                        color: #1E88E5;

                    }
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    transition: 0.3s ease;
                    filter: brightness(0.5);
                }

                &--1::before {
                    background-image: url("/assets/images/benefits/efficiency.jpeg");
                    background-position: center;
                    background-size: cover;
                }

                &--2::before {
                    background-image: url("/assets/images/benefits/flexibility.jpeg");
                    background-position: center;
                    background-size: cover;

                }

                &--3::before {
                    background-image: url("/assets/images/benefits/scalability.jpeg");
                    background-position: center;
                    background-size: cover;

                }

                &--4::before {
                    background-image: url("/assets/images/benefits/integrity.jpeg");
                    background-position: center;
                    background-size: cover;

                }
            }

            &__description {
                width: 100%;
                text-align: center;
                line-height: 180%;
                font-size: 1.1rem;
            }
        }

    }
}

.know-button-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        display: block;
        width: 20%;
        height: 70%;
        border-radius: 20px;

        &__button {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            outline: none;
            border: 0;
            font-size: 1.2rem;
            background-color: #e5e5e5;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                mix-blend-mode: multiply;
                border-radius: 20px;
                background: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%);
                transition: 0.5s ease;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

.light-services {
    width: 100%;
    height: 100vh;
    margin-top: 18%;
    border: 3px solid black;
    background-image: url("/assets/images/logo-noinfo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    &>* {
        position: relative;
        z-index: 3;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background: #000141;
        backdrop-filter: brightness(0.4);
        opacity: 0.7;
        z-index: 0;
    }

    &__title {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        word-spacing: 5px;
        color: #00ffff;
        margin-top: 1%;
        font-family: "Poppins-Regular";
    }

    &__description {
        width: 40%;
        color: #ffffff;
        text-align: center;
        line-height: 150%;
        font-size: 1.1rem;
        margin-top: 1%;
    }

    &__container {
        width: 35%;
        height: 70%;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        column-gap: 10%;
        margin-top: 2%;

        &__card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__icon {
                width: 30%;
            }

            &__title {
                color: #00ffff;
                width: 70%;
                line-height: 120%;
                text-align: center;
                font-size: 1.5rem;
            }

            &__text {
                width: 90%;
                color: #ffffff;
                margin-top: 5%;
                text-align: center;
                line-height: 130%;
                font-size: 1.1rem;
            }
        }

        &__link {
            display: block;
            width: 9%;
            height: 4%;
            border-radius: 50px;

            &__button {
                width: 100%;
                height: 100%;
                outline: none;
                border: 0;
                border-radius: 50px;
                color: #000141;
                font-size: 0.9rem;
                white-space: nowrap;
                font-family: "Poppins-Regular";
                font-weight: bold;
                background-color: #00ffff;
                cursor: pointer;
            }
        }

    }
}

.reviews {
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    gap: 3%;

    &__title {
        font-size: 2.5rem;
        text-align: center;
    }

    &__subtitle {
        font-size: 1.45rem;
        text-align: center;
    }

    &__container {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-top: 5%;

        &__review {
            position: relative;
            width: 28%;
            height: 100%;
            border: 2px solid black;
            display: flex;
            background-color: #e5e5e5;
            flex-direction: column;
            align-items: center;
            gap: 2%;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                scale: 1.05;
                box-shadow: 38px 5px 13px -15px rgba(0, 0, 0, 0.1);
            }


            &__name {
                text-align: center;
                font-size: 1.3rem;
                margin-top: 5%;
            }

            &__stars {
                position: absolute;
                bottom: 10%;
                left: 10%;
            }

            &__text {
                width: 90%;
                text-align: center;
                font-size: 1.2rem;
                margin-top: 5%;
                line-height: 150%;
            }
        }
    }
}

.slider {
    margin-top: 5%;
    width: 100%;
    background-color: #CFD8DC;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 5%;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 1%;
        font-family: "Poppins-Regular";
        color: #1565C0;
    }

    &__track {
        display: flex;
        width: 200%;
        margin-right: 5%;
        height: 60%;
        overflow: hidden;
        align-items: center;
        animation: scroll 10s linear infinite;
        will-change: transform;
        backface-visibility: hidden;

        &__slide {
            width: 10%;
            height: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &--1 {
                background-image: url("/assets/images/businesses/Adidas-Logo.png");
            }

            &--2 {
                background-image: url("/assets/images/businesses/apple_logo_icon.png");
            }

            &--3 {
                background-image: url("/assets/images/businesses/logo-Gmail.png");
            }

            &--4 {
                background-image: url("/assets/images/businesses/netflix-logos-and-brands-icon.png");
            }

            &--5 {
                background-image: url("/assets/images/businesses/Nike-Logo.png");
            }

            &--6 {
                background-image: url("/assets/images/businesses/png-clipart-chanel-no-5-fashion-logo-chanel-logo-text-chanel.png");
            }
        }
    }
}

.doubts {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin-top: 5%;
    align-items: center;

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__link {
        display: block;
        width: 15%;
        height: 25%;
        border-radius: 10px;
        color: red;

        &__button {
            width: 100%;
            height: 100%;
            border: 1px solid black;
            border-radius: 10px;
            outline: none;
            background-color: #CFD8DC;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            font-size: 1.15rem;
            transition: 0.3s ease;
            z-index: 0;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                border-radius: 10px;
                height: 100%;
                opacity: 0;
                z-index: -1;
                mix-blend-mode: multiply;
                visibility: hidden;
                transition: 0.3s ease;
                background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
            }

            &:hover {
                color: #ffffff;

                &::before {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}