@use '../base/mixin' as *;


.screen-size {
    position: fixed;
    width: 10%;
    height: 15%;
    top: 10%;
    left: 5%;
    border: 3px solid red;
    color: #ffffff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    font-size: 2rem;

    &::before {
        content: '';

        @include breakpoint(xxl) {
            content: 'xxl';
        }

        @include breakpoint(xl) {
            content: 'xl';
        }

        @include breakpoint(pxl) {
            content: 'pxl';
        }

        @include breakpoint(lg) {
            content: 'lg';
        }

        @include breakpoint(md) {
            content: 'md';
        }

        @include breakpoint(sm) {
            content: 'sm';
        }

        @include breakpoint(xs) {
            content: 'xs';
        }

        @include breakpoint(xxs) {
            content: 'xxs';
        }
    }
}

.blur-filter {
    position: fixed;
    inset: 0;
    z-index: 6;
    backdrop-filter: blur(2px);
    filter: brightness(0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;

    &.applied {
        opacity: 1;
        visibility: visible;
    }
}

.carrusel {
    width: 100vw;
    height: 93vh;
    display: flex;
    margin-top: 8vh;
    overflow-x: hidden;
    position: relative;

    @include breakpoint(md) {
        margin-top: 7vh;
    }

    @include breakpoint(sm) {
        margin-top: 6vh;
    }

    @include breakpoint(xs) {
        height: 100vh;
    }

    @include breakpoint(xxs) {
        height: 90vh;
    }

    &__left-button,
    &__right-button {
        flex: none;
        width: 4%;
        position: absolute;
        align-self: center;
        color: white;
        border: 2px solid white;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        display: flex;
        z-index: 4;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease;
        cursor: pointer;

        @include breakpoint(xl) {
            font-size: 2.3rem;
            width: 3.5%;
        }

        @include breakpoint(pxl) {
            font-size: 2rem;
            width: 3.5%;
        }

        @include breakpoint(lg) {
            font-size: 2rem;
            width: 6%;
        }

        @include breakpoint(md) {
            font-size: 2rem;
            width: 6%;
        }

        @include breakpoint(sm) {
            font-size: 1.5rem;
            width: 6%;
        }

        @include breakpoint(xs) {
            font-size: 1.7rem;
            width: 7%;
        }

        @include breakpoint(xxs) {
            font-size: 1.7rem;
            width: 9%;
        }

        &::before {
            content: '';
            position: absolute;
            background: linear-gradient(220.55deg, #3793FF 0%, #0017E4 100%);
            inset: 0;
            border-radius: inherit;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: 0.3s ease;
        }

        &:hover {
            scale: 1.1;

            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__left-button {
        left: 2%;
        top: 50%;
    }

    &__right-button {
        right: 2%;
    }

    &:hover .carrusel__right-button,
    &:hover .carrusel__left-button {
        opacity: 1;
        visibility: visible;
    }

    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        scroll-snap-align: start;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        left: 200%;
        z-index: 1;
        transition: left 1s ease;

        @include breakpoint(xs) {
            background-position-x: 30%;
            background-size: 300vw 120vh;
        }

        @include breakpoint(xxs) {
            background-position-x: 25%;
            background-size: 300vw 120vh;
        }

        &.active {
            left: 0;
            z-index: 3;
        }

        &.last {
            left: 0;
            z-index: 2;
        }

        &.previous {
            left: -200%;
            z-index: 1;
        }

        &__text-container {
            width: 30%;
            height: 30%;
            position: absolute;
            bottom: 30%;
            left: 15%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            gap: 10%;

            @include breakpoint(lg) {
                left: 20%;
            }

            @include breakpoint(md) {
                left: 20%;
                width: 40%;
            }

            @include breakpoint(sm) {
                left: 20%;
                width: 40%;
            }

            @include breakpoint(xs) {
                left: 20%;
                width: 45%;
            }

            @include breakpoint(xxs) {
                left: 20%;
                width: 45%;
            }

            &__title {
                font-size: 4.5rem;
                font-family: "Poppins-Regular";
                line-height: 130%;
                font-weight: bolder;
                text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);

                @include breakpoint(xl) {
                    font-size: 2.5rem;
                }

                @include breakpoint(pxl) {
                    font-size: 2.3rem;
                }

                @include breakpoint(lg) {
                    font-size: 3.5rem;
                }

                @include breakpoint(md) {
                    font-size: 3.2rem;
                }

                @include breakpoint(sm) {
                    font-size: 2.3rem;
                }

                @include breakpoint(xs) {
                    font-size: 1.9rem;
                }

                @include breakpoint(xxs) {
                    font-size: 1.7rem;
                }
            }

            &__short-description {
                font-size: 1.8rem;
                text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);

                @include breakpoint(xl) {
                    font-size: 1.3rem;
                }

                @include breakpoint(pxl) {
                    font-size: 1.2rem;
                }

                @include breakpoint(lg) {
                    font-size: 1.5rem;
                    line-height: 150%;
                }

                @include breakpoint(md) {
                    font-size: 1.4rem;
                    line-height: 150%;
                }

                @include breakpoint(sm) {
                    font-size: 1.2rem;
                    line-height: 150%;
                }

                @include breakpoint(xs) {
                    font-size: 1.2rem;
                    line-height: 130%;
                }

                @include breakpoint(xxs) {
                    font-size: 1rem;
                    line-height: 130%;
                }
            }

            &__link {
                display: block;
                width: 30%;
                height: 20%;
                text-decoration: none;

                @include breakpoint(xl) {
                    width: 28%;
                    height: 18%;
                }

                @include breakpoint(pxl) {
                    width: 28%;
                    height: 18%;
                }

                @include breakpoint(lg) {
                    width: 50%;
                    height: 15%;
                }

                @include breakpoint(md) {
                    width: 50%;
                    height: 15%;
                }

                @include breakpoint(sm) {
                    width: 55%;
                    height: 18%;
                }

                @include breakpoint(xs) {
                    width: 50%;
                    height: 15%;
                }

                @include breakpoint(xxs) {
                    width: 50%;
                    height: 16%;
                }

                &__button {
                    width: 100%;
                    height: 100%;
                    border: 3px solid white;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    color: #ffffff;
                    font-size: 1.8rem;
                    margin-top: 15%;
                    cursor: pointer;
                    transition: 0.3s ease;

                    @include breakpoint(xl) {
                        font-size: 1.2rem;
                        border-width: 2px;
                    }

                    @include breakpoint(pxl) {
                        font-size: 1.2rem;
                        border-width: 2px;
                    }

                    @include breakpoint(lg) {
                        font-size: 1rem;
                        border-width: 1.5px;
                    }

                    @include breakpoint(md) {
                        font-size: 1rem;
                        border-width: 1.5px;
                    }

                    @include breakpoint(sm) {
                        font-size: 1rem;
                        border-width: 2px;
                    }

                    @include breakpoint(xs) {
                        font-size: 1rem;
                        border-width: 2px;
                    }

                    @include breakpoint(xxs) {
                        font-size: 1rem;
                        border-width: 2px;
                    }

                    &:hover {
                        scale: 1.05;
                        background: #00b3ff;
                    }
                }
            }
        }

        &--1 {
            background-image: url("https://www.tallereselpilar.com/cache~c-d-0-1-8-cd0184cc4830d12717982474f665915cf9942b72/tu-taller-mecanico-de-confianza.jpeg");
        }

        &--2 {
            background-image: url("https://motor.elpais.com/wp-content/uploads/2022/02/taller-2.jpg");
        }

        &--3 {
            background-image: url("https://cercademiubicacionactual.com/wp-content/uploads/2024/08/Taller-mecanico-cerca-de-mi.jpg");
        }

        &--4 {
            background-image: url("https://storage.googleapis.com/sigo-blog-production/2023/02/2.-Blog-2_2.jpg");
        }

        &--5 {
            background-image: url("https://www.todomecanica.com/media/k2/items/cache/e803da4b053dc3dafc2016f735cae8b9_L.jpg");
        }
    }
}

.expectations {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    margin-top: 10vh;

    @include breakpoint(md) {
        height: 110vh;
    }

    @include breakpoint(sm) {
        height: 120vh;
    }

    @include breakpoint(xs) {
        height: 130vh;
    }

    @include breakpoint(xxs) {
        height: 130vh;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        word-spacing: 10px;
        color: #1565C0;
        font-family: "Poppins-Regular";

        @include breakpoint(xl) {
            font-size: 1.5rem;
        }

        @include breakpoint(pxl) {
            font-size: 1.3rem;
        }

        @include breakpoint(lg) {
            font-size: 2.5rem;
        }

        @include breakpoint(md) {
            font-size: 2rem;
        }

        @include breakpoint(sm) {
            font-size: 1.8rem;
        }

        @include breakpoint(xs) {
            font-size: 1.3rem;
            word-spacing: 5px;
        }

        @include breakpoint(xxs) {
            font-size: 1rem;
            word-spacing: 5px;
        }
    }

    &__description {
        width: 40%;
        text-align: center;
        line-height: 1.6;
        font-size: 1.1rem;

        @include breakpoint(xl) {
            font-size: 0.9rem;
        }

        @include breakpoint(pxl) {
            font-size: 0.8rem;
        }

        @include breakpoint(lg) {
            width: 70%;
            font-size: 1.3rem;
        }

        @include breakpoint(md) {
            width: 60%;
            font-size: 1rem;
        }

        @include breakpoint(sm) {
            width: 60%;
            font-size: 1.1rem;
        }

        @include breakpoint(xs) {
            font-size: 0.8rem;
            width: 70%;
        }

        @include breakpoint(xxs) {
            width: 70%;
            font-size: 0.65rem;
        }
    }

    &__list {
        margin-top: 3%;
        width: 100%;
        height: 80%;
        display: flex;
        gap: 2%;
        justify-content: center;

        @include breakpoint(md) {
            @include responsive-home-expectations;
        }

        @include breakpoint(sm) {
            @include responsive-home-expectations {}
        }

        @include breakpoint(xs) {
            @include responsive-home-expectations {
                width: 90%;
                row-gap: 10%
            }
        }

        @include breakpoint(xxs) {
            @include responsive-home-expectations {
                width: 90%;
                row-gap: 10%
            }
        }

        &__item {
            width: 18%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5%;

            @include breakpoint(lg) {
                width: 22%;
            }

            @include breakpoint(md) {
                @include responsive-home-expectations-item;
            }

            @include breakpoint(sm) {
                @include responsive-home-expectations-item;

            }

            @include breakpoint(xs) {
                @include responsive-home-expectations-item {
                    width: 100%
                }

            }

            @include breakpoint(xxs) {
                @include responsive-home-expectations-item {
                    width: 100%;
                }
            }


            &__card {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3%;
                transition: 0.3s ease;
                position: relative;
                overflow: hidden;
                z-index: 2;
                border-radius: 25px;

                @include breakpoint(lg) {
                    height: 60%;
                }

                @include breakpoint(md) {
                    @include responsive-home-expectations-card;
                }

                @include breakpoint(sm) {
                    @include responsive-home-expectations-card {
                        width: 100%;
                        height: 50%;
                    }
                }

                @include breakpoint(xs) {
                    @include responsive-home-expectations-card {
                        width: 100%;
                        height: 55%;
                    }
                }

                @include breakpoint(xxs) {
                    @include responsive-home-expectations-card {
                        width: 100%;
                        height: 55%;
                    }
                }

                &__title {
                    padding: 1%;
                    border-radius: 10px;
                    text-align: center;
                    color: #29B6F6;
                    font-family: "Poppins-Regular";
                    font-size: 2.5rem;
                    position: absolute;
                    z-index: 3;
                    transition: 0.3s ease;
                    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);

                    @include breakpoint(xl) {
                        font-size: 1.7rem;
                    }

                    @include breakpoint(pxl) {
                        font-size: 1.5rem;
                    }

                    @include breakpoint(lg) {
                        font-size: 1.8rem;
                    }

                    @include breakpoint(md) {
                        font-size: 1.4rem;
                    }

                    @include breakpoint(sm) {
                        font-size: 1.3rem;
                    }

                    @include breakpoint(xs) {
                        font-size: 1.1rem;
                    }

                    @include breakpoint(xxs) {
                        font-size: 1rem;
                    }
                }

                &:hover {
                    &::before {
                        filter: brightness(0.8);
                    }

                    & .expectations__list__item__card__title {
                        color: #1e92e5;

                    }
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    transition: 0.3s ease;
                    filter: brightness(0.5);
                }

                &--1::before {
                    background-image: url("/assets/images/benefits/efficiency.jpeg");
                    background-position: center;
                    background-size: cover;
                }

                &--2::before {
                    background-image: url("/assets/images/benefits/flexibility.jpeg");
                    background-position: center;
                    background-size: cover;

                }

                &--3::before {
                    background-image: url("/assets/images/benefits/scalability.jpeg");
                    background-position: center;
                    background-size: cover;

                }

                &--4::before {
                    background-image: url("/assets/images/benefits/integrity.jpeg");
                    background-position: center;
                    background-size: cover;

                }
            }

            &__description {
                width: 100%;
                height: 40%;
                text-align: center;
                line-height: 180%;
                font-size: 1.1rem;

                @include breakpoint(xl) {
                    font-size: 1rem;
                }

                @include breakpoint(pxl) {
                    font-size: 0.8rem;
                }

                @include breakpoint(lg) {
                    font-size: 1.2rem;
                }

                @include breakpoint(md) {
                    font-size: 0.9rem;
                    height: 20%;
                }

                @include breakpoint(sm) {
                    font-size: 1rem;
                    height: 20%;
                }

                @include breakpoint(xs) {
                    font-size: 0.7rem;
                    height: 20%;
                }

                @include breakpoint(xxs) {
                    font-size: 0.6rem;
                    height: 20%;
                }
            }
        }

    }
}

.know-button-container {
    width: 100%;
    height: 10vh;
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;

    @include breakpoint(xl) {
        margin-top: 8%;
    }

    @include breakpoint(pxl) {
        margin-top: 10%;
    }

    @include breakpoint(lg) {
        margin-top: 20%;
    }

    @include breakpoint(md) {
        margin-top: 15%;
    }

    @include breakpoint(sm) {
        margin-top: 15%;
    }

    @include breakpoint(xs) {
        margin-top: 20%;
    }

    @include breakpoint(xxs) {
        margin-top: 15%;
    }

    &__link {
        display: block;
        width: 20%;
        height: 70%;
        border-radius: 20px;

        @include breakpoint(lg) {
            width: 25%;
        }

        @include breakpoint(md) {
            width: 25%;
            height: 60%;
        }

        @include breakpoint(sm) {
            width: 25%;
            height: 50%;
        }

        @include breakpoint(xs) {
            width: 30%;
            height: 45%;
        }

        @include breakpoint(xxs) {
            width: 35%;
            height: 45%;
        }

        &__button {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            outline: none;
            border: 0;
            font-size: 1.5rem;
            background-color: #e5e5e5;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            @include breakpoint(xl) {
                margin-top: 8%;
            }

            @include breakpoint(pxl) {
                font-size: 1rem;
            }

            @include breakpoint(lg) {
                font-size: 1.5rem;
            }

            @include breakpoint(md) {
                font-size: 0.9rem;
            }

            @include breakpoint(sm) {
                font-size: 1rem;
            }

            @include breakpoint(xs) {
                font-size: 0.6rem;
            }

            @include breakpoint(xxs) {
                font-size: 0.6rem;
            }

            &::before {
                content: '';
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                mix-blend-mode: multiply;
                border-radius: 20px;
                background: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%);
                transition: 0.5s ease;
            }

            &:active::before {
                width: 100%;
            }
        }
    }
}

.light-services {
    width: 100%;
    height: 100vh;
    margin-top: 18%;
    background-image: url("/assets/images/logo-noinfo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(md) {
        height: 90vh;
        background-size: 200% 100%;
    }

    @include breakpoint(sm) {
        background-size: 200% 100%;
    }

    @include breakpoint(xs) {
        height: 75vh;
    }

    @include breakpoint(xxs) {
        height: 80vh;
    }

    &>* {
        position: relative;
        z-index: 3;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background: #000141;
        backdrop-filter: brightness(0.4);
        opacity: 0.7;
        z-index: 0;
    }

    &__title {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        word-spacing: 5px;
        color: #00ffff;
        margin-top: 1%;
        font-family: "Poppins-Regular";

        @include breakpoint(xl) {
            font-size: 1.6rem;
        }

        @include breakpoint(pxl) {
            font-size: 1.6rem;
        }

        @include breakpoint(lg) {
            font-size: 1.7rem;
        }

        @include breakpoint(md) {
            font-size: 1.5rem;
            word-spacing: 1px;
        }

        @include breakpoint(sm) {
            font-size: 1.4rem;
            word-spacing: 1px;
        }

        @include breakpoint(xs) {
            font-size: 1.2rem;
            word-spacing: 1px;
        }

        @include breakpoint(xxs) {
            word-spacing: 1px;
            font-size: 1rem;
        }
    }

    &__description {
        width: 45%;
        color: #ffffff;
        text-align: center;
        line-height: 150%;
        font-size: 1.1rem;
        margin-top: 1%;

        @include breakpoint(xl) {
            font-size: 0.9rem;
        }

        @include breakpoint(pxl) {
            font-size: 1.1rem;
        }

        @include breakpoint(lg) {
            font-size: 1rem;
            width: 60%;
        }

        @include breakpoint(md) {
            font-size: 0.8rem;
            width: 60%;
        }

        @include breakpoint(sm) {
            font-size: 0.8rem;
            width: 60%;
        }

        @include breakpoint(xs) {
            font-size: 0.6rem;
            width: 80%;
            margin-top: 2%;
        }

        @include breakpoint(xxs) {
            font-size: 0.25rem;
        }
    }

    &__container {
        width: 35%;
        height: 70%;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        column-gap: 10%;
        margin-top: 2%;
        border: 3px solid white;

        @include breakpoint(xl) {
            width: 45%;
        }

        @include breakpoint(pxl) {
            width: 50%;
        }

        @include breakpoint(lg) {
            width: 80%;
            margin-top: 2%;
            column-gap: 0;
        }

        @include breakpoint(md) {
            width: 80%;
            column-gap: 5%;
        }

        @include breakpoint(sm) {
            width: 90%;
            column-gap: 5%;
            display: flex;
            flex-direction: column;

        }

        @include breakpoint(xs) {
            width: 90%;
            row-gap: 5%;
        }

        @include breakpoint(xxs) {
            width: 45%;
        }

        &__card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint(lg) {
                justify-content: center;
            }

            @include breakpoint(md) {
                justify-content: center;
            }

            @include breakpoint(sm) {
                justify-content: center;
            }

            @include breakpoint(xs) {
                justify-content: center;
            }

            &__icon {
                width: 30%;

                @include breakpoint(xl) {
                    width: 23%;
                }

                @include breakpoint(pxl) {
                    width: 23%;
                }

                @include breakpoint(lg) {
                    width: 22%;
                }

                @include breakpoint(md) {
                    width: 28%;
                }

                @include breakpoint(sm) {
                    width: 28%;
                }

                @include breakpoint(xs) {
                    width: 35%;
                }

                @include breakpoint(xxs) {
                    font-size: 0.3rem;
                }
            }

            &__title {
                color: #00ffff;
                width: 70%;
                line-height: 120%;
                text-align: center;
                font-size: 1.5rem;

                @include breakpoint(xl) {
                    font-size: 1.2rem;
                }

                @include breakpoint(pxl) {
                    font-size: 1rem;
                }

                @include breakpoint(lg) {
                    font-size: 1.2rem;
                }

                @include breakpoint(md) {
                    font-size: 1rem;
                }

                @include breakpoint(sm) {
                    font-size: 1rem;
                }

                @include breakpoint(xs) {
                    font-size: 0.7rem;
                }

                @include breakpoint(xxs) {
                    font-size: 0.3rem;
                }
            }

            &__text {
                width: 90%;
                color: #ffffff;
                margin-top: 5%;
                text-align: center;
                line-height: 130%;
                font-size: 1.1rem;

                @include breakpoint(xl) {
                    font-size: 0.9rem;
                }

                @include breakpoint(pxl) {
                    font-size: 0.7rem;
                }

                @include breakpoint(lg) {
                    font-size: 0.9rem;
                }

                @include breakpoint(md) {
                    font-size: 0.8rem;
                }

                @include breakpoint(sm) {
                    font-size: 0.8rem;
                }

                @include breakpoint(xs) {
                    font-size: 0.6rem;
                }

                @include breakpoint(xxs) {
                    font-size: 0.3rem;
                }
            }
        }

        &__link {
            display: block;
            width: 9%;
            height: 4%;
            border-radius: 50px;
            text-decoration: none;

            @include breakpoint(xl) {
                width: 11%;
            }

            @include breakpoint(pxl) {
                width: 11%;
            }

            @include breakpoint(lg) {
                width: 18%;
                margin-top: 5%;
            }

            @include breakpoint(md) {
                width: 18%;
                height: 3.5%;
                margin-top: 3%;
            }

            @include breakpoint(sm) {
                width: 20%;
                height: 3.5%;
                margin-top: 5%;
            }

            @include breakpoint(xs) {
                width: 10%;
                height: 3.5%;
            }

            @include breakpoint(xxs) {
                font-size: 0.3rem;
            }

            &__button {
                width: 100%;
                height: 100%;
                outline: none;
                border: 0;
                border-radius: 50px;
                color: #000141;
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                font-family: "Poppins-Regular";
                font-weight: bold;
                background-color: #00ffff;
                cursor: pointer;

                @include breakpoint(xl) {
                    font-size: 0.7rem;
                }

                @include breakpoint(pxl) {
                    font-size: 0.6rem;
                }

                @include breakpoint(lg) {
                    font-size: 0.9rem;
                }

                @include breakpoint(md) {
                    font-size: 0.7rem;
                }

                @include breakpoint(sm) {
                    font-size: 0.6rem;
                }

                @include breakpoint(xs) {
                    font-size: 0.25rem;
                }

                @include breakpoint(xxs) {
                    font-size: 0.2rem;
                }
            }
        }

    }
}

/*-----------------------------------------Hasta aquí va el responsive-----------------------------------------------------------------------------*/

.reviews {
    width: 100%;
    height: 60vh;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    gap: 3%;

    @include breakpoint(xl) {
        height: 65vh;
    }

    @include breakpoint(pxl) {
        height: 65vh;
    }

    @include breakpoint(lg) {
        font-size: 0.5rem;
    }

    @include breakpoint(md) {
        font-size: 0.4rem;
    }

    @include breakpoint(sm) {
        font-size: 0.3rem;
    }

    @include breakpoint(xs) {
        font-size: 0.25rem;
    }

    @include breakpoint(xxs) {
        font-size: 0.2rem;
    }

    &__title {
        font-size: 2.5rem;
        text-align: center;

        @include breakpoint(xl) {
            font-size: 2rem;
        }

        @include breakpoint(pxl) {
            font-size: 1.8rem;
        }

        @include breakpoint(lg) {
            font-size: 0.5rem;
        }

        @include breakpoint(md) {
            font-size: 0.4rem;
        }

        @include breakpoint(sm) {
            font-size: 0.3rem;
        }

        @include breakpoint(xs) {
            font-size: 0.25rem;
        }

        @include breakpoint(xxs) {
            font-size: 0.2rem;
        }
    }

    &__subtitle {
        font-size: 1.45rem;
        text-align: center;
        margin-top: 1%;

        @include breakpoint(xl) {
            font-size: 1.3rem;
        }

        @include breakpoint(pxl) {
            font-size: 1.2rem;
        }

        @include breakpoint(lg) {
            font-size: 0.5rem;
        }

        @include breakpoint(md) {
            font-size: 0.4rem;
        }

        @include breakpoint(sm) {
            font-size: 0.3rem;
        }

        @include breakpoint(xs) {
            font-size: 0.25rem;
        }

        @include breakpoint(xxs) {
            font-size: 0.2rem;
        }
    }

    &__container {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-top: 5%;

        &__review {
            position: relative;
            width: 28%;
            height: 100%;
            border: 2px solid black;
            display: flex;
            background-color: #e5e5e5;
            flex-direction: column;
            align-items: center;
            gap: 2%;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                scale: 1.05;
                box-shadow: 38px 5px 13px -15px rgba(0, 0, 0, 0.1);
            }


            &__name {
                text-align: center;
                font-size: 1.3rem;
                margin-top: 5%;

                @include breakpoint(pxl) {
                    font-size: 1.2rem;
                }
            }

            &__stars {
                position: absolute;
                bottom: 10%;
                left: 10%;
            }

            &__text {
                width: 90%;
                height: 60%;
                text-align: center;
                font-size: 1.2rem;
                margin-top: 5%;
                line-height: 150%;

                @include breakpoint(xl) {
                    font-size: 1rem;
                }

                @include breakpoint(pxl) {
                    font-size: 0.9rem;
                }

                @include breakpoint(lg) {
                    font-size: 0.5rem;
                }

                @include breakpoint(md) {
                    font-size: 0.4rem;
                }

                @include breakpoint(sm) {
                    font-size: 0.3rem;
                }

                @include breakpoint(xs) {
                    font-size: 0.25rem;
                }

                @include breakpoint(xxs) {
                    font-size: 0.2rem;
                }
            }
        }
    }
}

.slider {
    margin-top: 5%;
    width: 100%;
    background-color: #CFD8DC;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    overflow-x: hidden;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 1%;
        font-family: "Poppins-Regular";
        color: #1565C0;

        @include breakpoint(xl) {
            font-size: 1.7rem;
        }

        @include breakpoint(pxl) {
            font-size: 1.5rem;
        }
    }

    &__track {
        display: flex;
        width: 200%;
        margin-right: 5%;
        height: 60%;
        overflow: hidden;
        align-items: center;
        animation: scroll 10s linear infinite;
        will-change: transform;
        backface-visibility: hidden;

        &__slide {
            width: 10%;
            height: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &--1 {
                background-image: url("/assets/images/businesses/Adidas-Logo.png");
            }

            &--2 {
                background-image: url("/assets/images/businesses/apple_logo_icon.png");
            }

            &--3 {
                background-image: url("/assets/images/businesses/logo-Gmail.png");
            }

            &--4 {
                background-image: url("/assets/images/businesses/netflix-logos-and-brands-icon.png");
            }

            &--5 {
                background-image: url("/assets/images/businesses/Nike-Logo.png");
            }

            &--6 {
                background-image: url("/assets/images/businesses/png-clipart-chanel-no-5-fashion-logo-chanel-logo-text-chanel.png");
            }
        }
    }
}

.doubts {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin-top: 5%;
    align-items: center;

    &__title {
        font-size: 2rem;
        text-align: center;

        @include breakpoint(pxl) {
            font-size: 1.7rem;
        }
    }

    &__link {
        display: block;
        width: 15%;
        height: 25%;
        border-radius: 10px;
        color: red;

        @include breakpoint(xl) {
            height: 30%;
        }

        @include breakpoint(pxl) {
            height: 30%;
        }

        &__button {
            width: 100%;
            height: 100%;
            border: 1px solid black;
            border-radius: 10px;
            outline: none;
            background-color: #CFD8DC;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            font-size: 1.15rem;
            transition: 0.3s ease;
            z-index: 0;

            @include breakpoint(pxl) {
                font-size: 1rem;
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                border-radius: 10px;
                height: 100%;
                opacity: 0;
                z-index: -1;
                mix-blend-mode: multiply;
                visibility: hidden;
                transition: 0.3s ease;
                background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
            }

            &:hover {
                color: #ffffff;

                &::before {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}