@use '../base/mixin' as *;

.header {
    width: 100%;
    position: fixed;
    height: 8vh;
    top: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
    color: #ffffff;
    gap: 2%;
    z-index: 5;
    transform: translate(0, -100%);
    transition: 0.3s;

    @include breakpoint(lg) {
        height: 8vh;
    }

    @include breakpoint(md) {
        height: 7vh;
    }

    @include breakpoint(sm) {
        height: 9vh;
    }

    @include breakpoint(xs) {
        height: 8vh;
    }

    @include breakpoint(xxs) {
        height: 8vh;
    }

    &.visible {
        transform: translate(0, 0);
    }

    &__logo {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12%;

        @include breakpoint(lg) {
            width: 25%;
            margin-left: 5%;
        }

        @include breakpoint(md) {
            width: 25%;
            margin-left: 5%;
        }

        @include breakpoint(sm) {
            width: 25%;
            margin-left: 5%;
        }

        @include breakpoint(xs) {
            width: 26%;
            margin-left: 3%;
        }

        @include breakpoint(xxs) {
            width: 28%;
            margin-left: 3%;
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &__image {
                border-radius: 10px;
                width: 65%;
                height: 100%;
                cursor: pointer;

                @include breakpoint(lg) {
                    width: 80%;
                    height: 80%;
                }

                @include breakpoint(md) {
                    width: 80%;
                    height: 80%;
                }

                @include breakpoint(sm) {
                    width: 80%;
                    height: 80%;
                }

                @include breakpoint(xs) {
                    width: 100%;
                    height: 80%;
                }

                @include breakpoint(xxs) {
                    width: 100%;
                    height: 80%;
                }
            }
        }

    }

    &__collapsed-menu {
        display: none;
        position: absolute;
        right: 7%;
        transition: 0.3s ease;
        cursor: pointer;

        @include breakpoint(xs) {
            @include mobile-burger();
        }

        @include breakpoint(xxs) {
            @include mobile-burger();
        }
    }

    &__menu {
        width: 40%;
        height: 100%;
        display: flex;
        margin-left: 5%;
        transition: 0.5s ease-in-out;

        @include breakpoint(xs) {
            @include mobile-menu();
        }

        @include breakpoint(xxs) {
            @include mobile-menu();
        }

        &__exit {
            position: absolute;
            top: 2%;
            right: 7%;
            color: #ffffff;
            display: none;

            @include breakpoint(xs) {
                display: block;
                font-size: 1.5rem;
            }

            @include breakpoint(xxs) {
                display: block;
                font-size: 1.5rem;
            }
        }

        &.visible {
            @include breakpoint(xs) {
                opacity: 1;
                visibility: visible;
                transform: translateX(0%);
            }

            @include breakpoint(xxs) {
                opacity: 1;
                visibility: visible;
                transform: translateX(0%);
            }
        }

        &__list {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;

            @include breakpoint(lg) {
                gap: 12%;
            }

            @include breakpoint(md) {
                gap: 11%;
            }

            @include breakpoint(sm) {
                gap: 12%;
            }

            @include breakpoint(xs) {
                flex-direction: column;
                height: 80%;
                gap: 7%;
            }

            @include breakpoint(xxs) {
                flex-direction: column;
                height: 80%;
                gap: 7%;
            }


            &__item {
                width: 12%;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;

                @include breakpoint(xl) {
                    font-size: 0.7rem;
                }

                @include breakpoint(pxl) {
                    font-size: 0.7rem;
                }

                @include breakpoint(lg) {
                    font-size: 0.8rem;
                }

                @include breakpoint(md) {
                    font-size: 0.7rem;
                }

                @include breakpoint(sm) {
                    font-size: 0.6rem;
                }

                @include breakpoint(xs) {
                    font-size: 1rem;
                }

                @include breakpoint(xxs) {
                    font-size: 0.8rem;
                }

                &__link {
                    font-family: "Titilium-SemiBold", sans-serif;
                    text-decoration: none;
                    color: #ffffff;
                    transition: 0.3s ease;

                    &:hover {
                        color: #29b6f6;
                    }
                }
            }
        }

        &__assist-button {
            display: none;

            @include breakpoint(xs) {

                @include assist-button() {
                    height: 4.5%;
                    width: 65%;
                    font-size: 0.75rem;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: block;
                }

                & a {
                    text-decoration: none;
                    color: #ffffff;
                    width: 100%;
                }

                &:hover {
                    scale: 1.05;
                }
            }

            @include breakpoint(xxs) {

                @include assist-button() {
                    height: 4.5%;
                    width: 65%;
                    font-size: 0.75rem;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: block;
                }

                & a {
                    text-decoration: none;
                    color: #ffffff;
                    width: 100%;
                }

                &:hover {
                    scale: 1.05;
                }
            }
        }
    }

    &__assist-button {
        @include assist-button();

        @include breakpoint(xl) {
            width: 10%;
        }

        @include breakpoint(pxl) {
            width: 10%;
        }

        @include breakpoint(lg) {
            width: 12%;
            height: 41%;
        }

        @include breakpoint(md) {
            width: 12%;
            height: 45%;
            margin-left: 6%;
            border-width: 0.7px;
        }

        @include breakpoint(sm) {
            width: 11%;
            height: 50%;
            border-width: 0.7px;
            margin-left: 7%;
        }

        @include breakpoint(xs) {
            width: 25%;
            height: 50%;
            border-width: 0.5px;
            margin-left: 17%;
        }

        @include breakpoint(xxs) {
            width: 25%;
            height: 50%;
            border-width: 0.5px;
            margin-left: 17%;
        }

        & a {
            white-space: nowrap;
            font-size: 1rem;
            color: #ffffff;
            text-decoration: none;

            @include breakpoint(xl) {
                font-size: 0.75rem;
            }

            @include breakpoint(pxl) {
                font-size: 0.75rem;
            }

            @include breakpoint(lg) {
                font-size: 0.75rem;
            }

            @include breakpoint(md) {
                font-size: 0.7rem;
                line-height: 130%;
            }

            @include breakpoint(sm) {
                font-size: 0.5rem;
                line-height: 130%;
            }

            @include breakpoint(xs) {
                font-size: 0.7rem;
                white-space: wrap;
            }

            @include breakpoint(xxs) {
                font-size: 0.7rem;
                white-space: wrap;
            }
        }

        &:hover {
            scale: 1.05;
        }
    }
}