@use '../base/mixin' as *;

.header {
    width: 100%;
    position: fixed;
    height: 8vh;
    top: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
    color: #ffffff;
    gap: 2%;
    z-index: 10;
    transform: translate(0, -100%);
    transition: 0.3s;

    &.visible {
        transform: translate(0, 0);
    }

    &__logo {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12%;

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &__image {
                border-radius: 10px;
                width: 65%;
                height: 100%;
                cursor: pointer;
                filter: invert(1);
            }
        }

    }

    &__menu {
        width: 40%;
        height: 100%;
        display: flex;
        margin-left: 5%;

        &__list {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;

            &__item {
                width: 12%;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;

                @include breakpoint(xl) {
                    font-size: 0.7rem;
                }

                @include breakpoint(pxl) {
                    font-size: 0.7rem;
                }

                @include breakpoint(lg) {
                    font-size: 0.5rem;
                }

                @include breakpoint(md) {
                    font-size: 0.4rem;
                }

                @include breakpoint(sm) {
                    font-size: 0.3rem;
                }

                @include breakpoint(xs) {
                    font-size: 0.25rem;
                }

                @include breakpoint(xxs) {
                    font-size: 0.2rem;
                }

                &__link {
                    font-family: "Titilium-SemiBold", sans-serif;
                    text-decoration: none;
                    color: #ffffff;
                    transition: 0.3s ease;

                    &:hover {
                        color: #29b6f6;
                    }
                }
            }
        }
    }

    &__assist-button {
        width: 8%;
        height: 55%;
        border-radius: 10px;
        outline: none;
        border: 1px solid #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
        transition: 0.3s ease;

        @include breakpoint(xl) {
            width: 10%;
        }

        @include breakpoint(pxl) {
            width: 10%;
        }

        @include breakpoint(lg) {
            width: 9%;
        }

        @include breakpoint(md) {
            width: 9%;
            border-width: 0.7px;
        }

        @include breakpoint(sm) {
            width: 9%;
            border-width: 0.7px;
        }

        @include breakpoint(xs) {
            width: 10%;
            border-width: 0.5px;
        }
        @include breakpoint(xxs) {
            width: 10%;
            border-width: 0.4px;
        }

        & a {
            white-space: nowrap;
            font-size: 1rem;
            color: #ffffff;
            text-decoration: none;

            @include breakpoint(xl) {
                font-size: 0.75rem;
            }

            @include breakpoint(pxl) {
                font-size: 0.75rem;
            }

            @include breakpoint(lg) {
                font-size: 0.5rem;
            }

            @include breakpoint(md) {
                font-size: 0.4rem;
            }

            @include breakpoint(sm) {
                font-size: 0.35rem;
            }

            @include breakpoint(xs) {
                font-size: 0.3rem;
            }

            @include breakpoint(xxs) {
                font-size: 0.2rem;
            }
        }

        &:hover {
            scale: 1.05;
        }
    }
}