body{
    font-family: 'Titilium-Regular', sans-serif;
    background-color: #F5F5F5;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
        height: 100vh;
    }
}

::selection{
    background-color: #29B6F6;
    color: #ffffff;
}