$breakpoints: (
    "xxs": "max-width: 400.98px",
    "xs": "(min-width: 401px) and (max-width: 575.98px)",
    "sm": "(min-width: 576px) and (max-width: 767.98px)",
    "md": "(min-width: 768px) and (max-width: 991.98px)",
    "lg": "(min-width: 992px) and (max-width: 1199.98px)",
    "pxl": "(min-width: 1200px) and (max-width: 1450.98px)",
    "xl": "(min-width: 1451px) and (max-width: 1799.98px)",
    "xxl": "min-width: 1800px",
);

@mixin breakpoint($size) {
    $my-map: map-get($breakpoints, $size);

    @if $my-map {
        @media (#{$my-map}) {
            @content;
        }
    }

    @else {
        @error "Oops, seems like the breakpoint #{$size} isn't defined yet";
    }
}

@mixin responsive-home-expectations() {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 0;
    row-gap: 3%;
    margin-top: 1%;
    @content;
}

@mixin responsive-home-expectations-card() {
    width: 80%;
    height: 55%;
    border-radius: 5px;
    @content;
}

@mixin responsive-home-expectations-item() {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin assist-button() {
    width: 8%;
    height: 55%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
    transition: 0.3s ease;
    @content;
}

@mixin mobile-burger() {
    display: flex;
    opacity: 1;
    font-size: 1.5rem;
    visibility: visible;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 40%;
    color: #ffffff;
    text-decoration: none;
    @content;
}

@mixin mobile-menu() {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 7;
    border: 1px solid black;
    background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    @content;
}